#select-menu {
	margin:15px;
	border-style: solid;
    border-width: 5px;
    border-color: white;
}

#display-panel {
	width:70%;
}

#map { 
	height:100%;
	margin:5px;
}

.button-container {
	margin:5px;
}

.map-background {
	height:100%;
}

.leaflet-popup-content {
	color:black;
}